<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xored.fanide.launching.FanLaunchConfigurationType">
<stringAttribute key="fanMainClass" value="ScrollDemo"/>
<stringAttribute key="nature" value="com.xored.fanide.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gui/fan/fwt/scroll.fan"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="project" value="gui"/>
</launchConfiguration>
